$purple: #845ec2;
$gray-purple: #9b89b3;
$light-purple: rgba(239, 239, 239, 0.3);
$pink: #fff6ff;
$yellow: #ffff2c;
$hove-yellow: #f9dca7;
$blue: #2980b9;
$border-radius: 30px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Aria", sans-serif;
  background-color: $gray-purple;
  padding: 80px 0;
  font-size: 20px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
}

h1, .h1 {
  text-align: center;
  font-size: 50px;
  color: $yellow;
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
}

.subtext{
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: $yellow;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

textarea {
  width: 100%;
  height: 175px;
  margin-bottom: 30px;
  border-radius: 30px;
  padding: 20px;
  color: #000;
}

.source {
  margin-bottom: 30px;

  & > * {
    font-size: 30px;
  }

  span {
    color: $yellow;
  }

  a {
    color: $blue;
  }
}

.box {
  margin-bottom: 80px;
}

.box-lib {
  padding: 30px 0;
  display: flex;
  gap: 24px;
  & > * {
    flex: 0 1 50%;
  }
}

pre {
  background: #2d2d2d;
  color: #f8f8f2;
  padding: 15px;
  border-radius: 8px;
  overflow-x: auto;
  font-size: 12px;
  line-height: 1;
}