/* Icon Drop */
@keyframes hvr-icon-drop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51%,
  100% {
    opacity: 1;
  }
}

.hvr-icon-drop {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  .hvr-icon {
    transform: translateZ(0);
  }

  &:hover .hvr-icon,
  &:focus-visible .hvr-icon,
  &:active .hvr-icon {
    opacity: 0;
    transition-duration: 0.3s;
    animation-name: hvr-icon-drop;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
}
