/* Icon Bob */
@keyframes hvr-icon-bob {
  0% {
    transform: translateY(-6px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(-6px);
  }
}

@keyframes hvr-icon-bob-float {
  100% {
    transform: translateY(-6px);
  }
}

.hvr-icon-bob {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;

  .hvr-icon {
    transform: translateZ(0);
  }

  &:hover .hvr-icon,
  &:focus-visible .hvr-icon,
  &:active .hvr-icon {
    animation-name: hvr-icon-bob-float, hvr-icon-bob;
    animation-duration: .3s, 1.5s;
    animation-delay: 0s, .3s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate;
  }
}
