/* Icon Spin */
.hvr-icon-spin {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  .hvr-icon {
    transition-duration: 1s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
  }

  &:hover .hvr-icon,
  &:focus-visible .hvr-icon,
  &:active .hvr-icon {
    transform: rotate(360deg);
  }
}
