/* Icon Pulse Shrink */
@keyframes hvr-icon-pulse-shrink {
  to {
    transform: scale(0.8);
  }
}

.hvr-icon-pulse-shrink {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  .hvr-icon {
    transform: translateZ(0);
    transition-timing-function: ease-out;
  }

  &:hover .hvr-icon,
  &:focus-visible .hvr-icon,
  &:active .hvr-icon {
    animation-name: hvr-icon-pulse-shrink;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
