/* Icon Up */
@keyframes hvr-icon-up {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(-6px);
  }
}

.hvr-icon-up {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  .hvr-icon {
    transform: translateZ(0);
  }

  &:hover .hvr-icon,
  &:focus-visible .hvr-icon,
  &:active .hvr-icon {
    animation-name: hvr-icon-up;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
  }
}
