/* Icon Pulse */
@keyframes hvr-icon-pulse {
  25% {
    transform: scale(1.3);
  }
  75% {
    transform: scale(0.8);
  }
}

.hvr-icon-pulse {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  .hvr-icon {
    transform: translateZ(0);
    transition-timing-function: ease-out;
  }

  &:hover .hvr-icon,
  &:focus-visible .hvr-icon,
  &:active .hvr-icon {
    animation-name: hvr-icon-pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
