/* Hollow */
.hvr-hollow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: background;
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);

  &:hover,
  &:focus-visible,
  &:active {
    background: none;
  }
}
