/* Round Corners */
.hvr-round-corners {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: border-radius;

  &:hover,
  &:focus-visible,
  &:active {
    border-radius: 1em;
  }
}
